{% extends "ShubaBlogBundle::layout.html.twig" %}

    {% block title %} {{ parent() }} About {% endblock %}
    {% block content %}
        <h2>About me</h2>
        <img src="{{ asset('bundles/shubablog/images/proavtora.jpg') }}" alt="Author" style="float: left; margin:5px 13px 0px 0px;" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu purus at sem porttitor feugiat. Aenean tincidunt commodo tempus. Integer in ligula nisi. Phasellus eleifend, lectus vitae auctor facilisis, justo risus varius felis, sed consequat ante erat nec elit. Suspendisse sed volutpat mauris, eget mollis dolor. In pellentesque, odio vel tincidunt suscipit, augue arcu sodales nulla, eu aliquet nisl urna a ipsum. Nulla facilisi.</p>
        <p>Phasellus tempus sapien ante, eu fringilla nulla sollicitudin non. Aliquam commodo sem libero, et lobortis nisi vehicula nec. Aliquam quis ullamcorper lorem. Pellentesque ut nibh tempor, pulvinar elit ac, eleifend nibh. Vivamus ut nunc condimentum, dapibus sem ac, aliquam justo. Vivamus ac vulputate enim. In hac habitasse platea dictumst. Etiam volutpat felis elementum, dapibus dolor id, rutrum nulla. Praesent ullamcorper pretium pharetra. Integer diam elit, dapibus a nunc et, lacinia tristique ligula.</p>
    {% endblock %}


