<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block jsHead %}{% endblock %}
</head>
<body>
{% block body %}
    {% block menu %}{% endblock %}
    {% block content %}{% endblock %}
    {% block rightsidebar %}{% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}
{% block jsAfterBody %}{% endblock %}
</body>
</html>