<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">

            <a class="blog-nav-item active" href="{{ path('shuba_blog_homepage') }}">
                {% trans %}Home{% endtrans %}</a>
            <a class="blog-nav-item" href="#">
                {% trans %}About me{% endtrans %}</a>
            <a class="blog-nav-item" href="#">
                {% trans %}Guestbook{% endtrans %}</a>



        </nav>
    </div>
</div>